html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h2 {
    margin: 10px;
}

#map {
    flex: 1; /* 👈 THIS is the magic */
}

footer {
    text-align: center;
    padding: 8px;
    font-size: 12px;
    background: #f0f0f0;
}

#map {
    height: 100vh;
    width: 100%;
}

.info.legend {
    background: white;
    padding: 10px;
    border-radius: 6px;
    line-height: 1.6;
    color: black;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    font-size: 14px;
}

/* Brewery circle */
.legend-point {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: red;
    border: 2px solid darkred;
    border-radius: 50%;
    margin-right: 6px;
}

/* Greenway line (thicker) */
.legend-line {
    display: inline-block;
    width: 20px;
    height: 4px;
    background: purple;
    margin-right: 6px;
    vertical-align: middle;
}

/* Park polygon box */
.legend-box {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: lightgreen;
    border: 1px solid darkgreen;
    margin-right: 6px;
}